@model IEnumerable<WasteDisposalManagement.Models.Service>
@{
    ViewData["Title"] = "Services";
    Layout = "_AdminDashboard";
}


<h1 style="margin-bottom:-10px">Services</h1>
<div class="dashboard">
    <section id="main">
        <div class="board">
            <table class="table" width="100%">
                <thead>
                    <tr>
                        <td>SERVICE ID</td>
                        <td>SERVICE NAME</td>
                        <td>SERVICE PRICE</td>
                        <td>SERVICE DURATION(DAYS)</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var service in Model)
                    {
                        <tr>
                            <td class="users">
                                <p>@service.ServiceId</p>
                            </td>

                            <td class="title">
                                <p>@service.Name</p>
                            </td>

                            <td class="status">
                                <p>#@service.Price</p>
                            </td>

                            <td class="role">
                                <p>@service.DurationInDays</p>
                            </td>

                            <td class="edit">
                                <a href="#">Edit</a>
                            </td>
                            <td class="delete">
                                <a href="#">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>
</div>
