@page
@model RegisterModel

@{
    Layout = "_Base";
}

<h1>@ViewData["Title"]</h1>

<div class="register">
    <div class="column1">
        <h2>project summary</h2>
        <p>
            Quick sign up your account in just 3 steps.
        </p>
    </div>

    <div class="column2">
        <div class="reg-guide">
            <h4>Create a one time account</h4>
        </div>
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
                    
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.FirstName" id="fname" autocomplete="new-firstname" placeholder="Enter Firstname" aria-required="true" />
                <span asp-validation-for="Input.FirstName" id="email-label"></span>
            </div>

            <div class="form-floating">
                <input asp-for="Input.LastName" id="lname" autocomplete="new-lastname" placeholder="Enter Lastname" aria-required="true" />
                <span asp-validation-for="Input.LastName" id="email-label"></span>
            </div>

            <div class="form-floating">
                <input type="tel" asp-for="Input.PhoneNumber" id="phone-no" autocomplete="new-PhoneNo" placeholder="Enter Phone Number" aria-required="true" />
                <span asp-validation-for="Input.PhoneNumber" id="email-label"></span>
            </div>

            <div class="form-floating">
                <input asp-for="Input.Address" id="address" autocomplete="new-address" placeholder="Enter Address" aria-required="true" />
                <span asp-validation-for="Input.Address" id="email-label"></span>
            </div>

            <div class="form-floating">
                <select asp-for="Input.City" id="city">
                    <option asp-for="Input.City" value="">select city</option>
                    <option asp-for="Input.City" value="ikotun">Ikotun</option>
                    <option asp-for="Input.City" value="igando">Igando</option>
                    <option asp-for="Input.City" value="abaranje">Abaranje</option>
                </select>
                <span asp-validation-for="Input.City" id="email-label"></span>
            </div>

            <div class="form-floating">
                <select asp-for="Input.State" id="state">
                    <option asp-for="Input.State" value="">select state</option>
                    <option asp-for="Input.State" value="lagos">Lagos</option>
                </select>
                <span asp-validation-for="Input.State" id="email-label"></span>
            </div>
  
            <div class="form-floating">
                <input asp-for="Input.Email" id="email" autocomplete="username" placeholder="Enter Email" aria-required="true" />
                <span asp-validation-for="Input.Email" id="email-label"></span>
            </div>

            <div class="form-floating">
                <input asp-for="Input.Password" id="password" autocomplete="new-password" placeholder="Enter Password" aria-required="true" />
                <span asp-validation-for="Input.Password" id="password-label"></span>
            </div>

            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" id="password" autocomplete="new-password" placeholder="Confirm Password" aria-required="true" />
                <span asp-validation-for="Input.ConfirmPassword" id="password-label"></span>
            </div>

            <div id="terms">
                <input type="checkbox" name="terms" id="" required>
                <label for="terms">Click here to agree to our <a href="#">terms and conditions.</a></label><br>
            </div><br>
    
            <input type="submit" value="Register" id="register-btn" name="register-btn">
                    
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
