@model IEnumerable<WasteDisposalManagement.Models.User>
@{
    ViewBag.Title = "Users Lists";
    Layout = "_Dashboard";
}

<div class="board">
    <table class="table" width="100%">
        @if(Model != null)
        {
            <thead>
                <tr>
                    <td>NAME</td>
                    <td>TITLE</td>
                    <td>STATUS</td>
                    <td>ROLE</td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="users">
                            <img src="@item.ProfilePicture" alt="user image">
                            <div class="people-de">
                                <h5>@item.FirstName @item.LastName</h5>
                                <p>@item.Email </p>
                            </div>
                        </td>

                        <td class="status">
                            <p>Active</p>
                        </td>

                        <td class="role">
                            <p>item.Role</p>
                        </td>

                        <td class="edit">
                            <a href="#">Edit</a>
                        </td>

                        <td class="delete">
                            <a href="#">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        }
        else
        {
            <p>you have no orders available</p>
        }
    </table>
</div>
