@using Microsoft.AspNetCore.Identity;
@{
    ViewBag.Title = "User Dashboard";
}

@{
    Layout = "_Base";
}

@inject UserManager<User> customUserManager

@{
    var userid = customUserManager.GetUserId(User);
    var user = await customUserManager.FindByIdAsync(userid);
}
<!--dashboard container-->
<div class="dashboard">
    <section id="sidebar" class="initial-active hide">
        <div class="logo">
            <a href="#">
                <img src="~/images/interswitch_logo.svg" alt="dashboard logo">
            </a>
        </div>

        <div class="items">
           <ul>
                <li><i class="fas fa-cart-plus"></i></i><a asp-controller="User" asp-action="Orders">My Orders</a></li>
                <li><i class="fas fa-cart-plus"></i></i><a asp-controller="User" asp-action="FirstTimeOrders">My First Order</a></li>
           </ul>
        </div>
    </section>

    <section id="main">
        <div class="navigation">
            <div class="row">
                <div class="menu-btn">
                    <i id="menu-btn" class="fas fa-bars"></i>
                </div>

                <div class="search">
                    <i class="fas fa-search"></i>
                    <input type="search" name="" id="" placeholder="Search">
                </div>
            </div>

            <div class="profile">
                <i class="far fa-bell"></i>
                @if(user.ProfilePicture != null)
                {
                    <a asp-controller="User" asp-action="Profile"><img src="@user.ProfilePicture" alt="user profile image"></a>
                }
                else
                {
                    <a asp-controller="User" asp-action="Profile"><img src="~/images/dummy-profile-pic.jpg" alt="user profile image"></a>
                }
            </div>
        </div>

        <h3 class="i-name">My Dashboard</h3>
        <div class="cards">

            <div class="card">
                <i class="fas fa-users"></i>
                <div class="content">
                    <h3>8,267</h3>
                    <span>New users</span>
                </div>
            </div>

            <div class="card">
                <i class="fas fa-cart-plus"></i>
                <div class="content">
                    <h3>4,267</h3>
                    <span>Orders</span>
                </div>
            </div>

            <div class="card">
                <i class="fas fa-check-circle"></i>
                <div class="content">
                    <h3>2,267</h3>
                    <span>Active orders</span>
                </div>
            </div>

            <div class="card">
                <i class="fas fa-users"></i>
                <div class="content">
                    <h3>2,000</h3>
                    <span>Pending orders</span>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>
<script>
    // admin dashboard menu bar selection.
    const menuButton = document.getElementsByClassName("menu-btn")[0];
    const sideBar = document.getElementById('sidebar');

    menuButton.addEventListener('click', () => {
        document.getElementById('main').style = "margin-left: calc(100%-170px)";
        sideBar.classList.toggle('hide');
    });
</script>

@await RenderSectionAsync("Scripts", required: false)