@{
    Layout = "_Base";
}

@{
    ViewBag.Title = "Payment Failure";
}

<div class="failure-container">
    <i class="fa-solid fa-file-circle-minus"></i>
    <p>Payment unsuccessful.</p>
    <p>Please <a href="#">try again</a> or <a href="#">contact our customer care</a> for assistance.</p>
</div>
