@{
    Layout = "_Base";
}

@{
    ViewBag.Title = "Payment Successful";
}



<div class="success-container">
    <i class="fa-regular fa-circle-check"></i>
    <p>Payment successful.</p>
    <small>Transaction number: 1234567890</small>
    <hr><br>
    <div class="amount">
        <li>Amount Paid:</li>
        <li>₦2,050</li>
    </div><br>
    <div class="payment-type">
        <li>Card Type:</li>
        <li>Master Card</li>
    </div>
</div>
